<!DOCTYPE html>
<html>
<head>
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src = "login.js" type="text/javascript"></script>
</head>
<body>
  <h3 class="w3-text-blue">Please choose the details for your account</h3>

  <label><b>User Name</b></label>
  <input id="uname"  name="uname" type="text">
  <label ><b>Password</b></label>
  <input type="password" id="upass" name="pass">
  <button id="regForm">Proceed</button>
  <button type="button" id="loginBtn">Sign In</button>
</body>
</html>